/*body {
    background: black;
    color: grey;
    font-family: monospace;
    text-align: center;
}

.display {
    font-family: 'Source Code Pro', monospace;
    display: inline-block;
    margin-top: 2em;
    padding: 0.5em;
    background: #000;
    border: solid 1px #333;
}

.line {
    display: block;
}

.bg-black {
    background: black;
}
.bg-red {
    background: red;
}
.bg-green {
    background: green;
}
.bg-yellow {
    background: yellow;
}
.bg-blue {
    background: blue;
}
.bg-magenta {
    background: magenta;
}
.bg-cyan {
    background: cyan;
}
.bg-white {
    background: white;
}
.bg-grey {
    background: grey;
}

.fg-black {
    color: black;
}
.fg-red {
    color: red;
}
.fg-green {
    color: green;
}
.fg-yellow {
    color: yellow;
}
.fg-blue {
    color: blue;
}
.fg-magenta {
    color: magenta;
}
.fg-cyan {
    color: cyan;
}
.fg-white {
    color: white;
}
.fg-grey {
    color: grey;
}*/