/*.display {
    font-family: monospace;
    width: 80ch;
    word-wrap: break-word;
}

.bg-black {
    background: #000;
}

.fg-grey {
    color: #ccc;
}

.fg-white {
    color: #fff;
}*/


body {
    background: #111;
    color: #ccc;
    text-align: center;
}
canvas {
    display: inline-block;
    margin-top: 20px;
    padding: 4px;
    background: #000;
    border: solid 1px #333;
}